h1 {text-align: center;
    color:darkgreen}
h2 {text-align: center;
    color:darkgreen}
h3 {
    color:blue}


body {
    background-color: lavenderblush;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: auto;
    background-color: black;
}

.topnav a {
    float: right;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: darkgray;
    color: black;
}

.topnav a.active {
    background-color: darkolivegreen;
    color: whitesmoke;
}



